  <div class="w-100 footer mt-3">
    <div class="container p-3">
        <a href="index.php" class="btn btn-outline-light float-right m-2">
            <img src="../../assets/images/1.png" class="img-fluid float-right" width="50px" heught="50px"/>
            <h5 class="float-right m-2 footer-a "> كاس الامم الافريقية 2019 </h5>	
          </a>
          <a href="news.php" class="btn btn-outline-light p-0 float-right m-2"><h5 class=" m-2 footer-a "> الاخبار </h5></a>
          <a href="matches.php" class="btn btn-outline-light p-0 float-right m-2"><h5 class=" m-2 footer-a "> الماتشات </h5></a>
          <a href="country.php" class="btn btn-outline-light p-0 float-right m-2"><h5 class=" m-2 footer-a "> المدن المضيفة </h5></a>
          <a href="teams.php" class="btn btn-outline-light p-0 float-right m-2"><h5 class=" m-2 footer-a "> المنتخبات </h5></a>
          <a href="#" class="btn btn-outline-light p-0 float-right m-2"><h5 class=" m-2 footer-a "> اللاعبين </h5></a>
    </div> 
  </div>