<div class="container mt-3">
    <h2 class="text-center mt-2 mb-3 head_title"> المدن المضيفة </h2>
  
    <div class="row">


        <div class="col-lg-3" *ngFor="let country of country_container">
            <div class=" pt-4 text-center rounded">
              <a href="#" class="p-4 m-auto">
                <img src="{{country.country_image}}" class="img-fluid rounded" alt="...">
                <div class="card-body text-center ">
                  <h3 class="card-title justify-content-center">{{country.gra_country_name}}</h3>
                </div>
              </a>
              </div>
            </div>

          </div>
        </div>