<div class="w-100 text-center p-5 headera ">
  <a routerLink="/Home">
    <h1> كاس الامم الافريقية 19<i class="far fa-futbol header-icon fa-500px wow bounce" data-wow-iteration="10" data-wow-duration="2s"></i>20 في مصر </h1>    </a>
</div>
<div class="nav-my">
    <!--navabr section start-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light header border-bottom" id="myHeader">
          <button class="navbar-toggler m-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-	controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
          <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
              <ul class="navbar-nav m-auto">
                    <li class="nav-item">
                <a class="nav-link" routerLink="/Stadium"> الاستادات </a>
              </li>
                    <li class="nav-item">
                <a class="nav-link" routerLink="/Country"> المدن المضيفة </a>
              </li>
        
                <li class="nav-item">
                <a class="nav-link "routerLink="/Teams"> المنتخبات </a>						
              </li>
            
              <li class="nav-item">
                <a class="nav-link " routerLink="/Matches"> المباريات  </a>
              </li>
        
                
              <li class="nav-item">
                <a class="nav-link" routerLink="/News"> الاخبار  </a>
              </li>
            
            </ul>
          </div>
        </nav>
    <!--navbar section start-->
    </div>
    