.matche-news a{
    color:black !important;
    font-weight: 600;
    transition: .05s;
}
.matche-news p{
    color:black !important;
    font-weight: 600;
}
.matche-news a:hover{
    color:#f39c12 !important;
}
@media only screen and (max-width: 400px) {
   .matche-news p {
       font-size: 12px;
   }
   .matche-news a {
    font-size: 12px;
}
}